/* MAP POSITION AND SIZE*/
.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* MAP CONTAINER */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#title {
    position: absolute;  
    bottom: 10px;         
    left: 10px;          
    background-color: rgba(255, 255, 255, 0.8); /*background for better visibility*/
    z-index: 999;        /* Ensures the title is above all layers, because, when I added it without the index, it was hidden behind the map container*/
}

/* Legend */
#legend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#legend h4 {
    margin: 0 0 10px;
    font-size: 14px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-key {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 3px;
    border: 2px solid black;
    /* Add a border to all keys to make sure the transparent key is visible*/
}

.legend-label {
    font-size: 12px;
}

/* Layer visibility enabler styling */
#toggle-car-layer {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer; /* animates the cursor to prompt button's interactivity */
    z-index: 1000;
}

#toggle-car-layer:hover {
    background: #f0f0f0;
}